<h2>CPU temperature history</h2>

<div id='chart'>
<%= render_chart(@chart, 'chart') %>
</div>

<p>Minimum 
<%= @tempstatistic.min %>
 - Maximum 
<%= @tempstatistic.max %>
</p>

<table>
  <tr>
    <th>Time</th>
    <th>Temperature</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%# @cpu_temperatures.each do |cpu_temperature| %>
  <tr>
    <td><%#= cpu_temperature.time %></td>
    <td><%#= cpu_temperature.temperature %></td>
    <td><%#= link_to 'Show', cpu_temperature %></td>
    <td><%#= link_to 'Edit', edit_cpu_temperature_path(cpu_temperature) %></td>
    <td><%#= link_to 'Destroy', cpu_temperature, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<%# end %>
</table>

<br />

<%#= link_to 'New Cpu temperature', new_cpu_temperature_path %>
